<div #intro class="intro">
    <div class="titleIntro">
        <div class="text-4xl md:text-5xl font-bold colorWhite "[style.font-family]="(portfolio.texts)?.font.intro" >{{ (portfolio.texts)?.intro.title }}</div>
        <div class="introSubTitle text-2xl md:text-4xl font-bold">{{ (portfolio.texts)?.intro.subtitle }}</div>
        <div class="icon_links flex flex-row">
            <a href="{{(portfolio.texts)?.social.github}}" aria-label="Github" matTooltip="Github" target="_blank">
                <svg width="43" height="43">
                    <g>
                    <path style="fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:none" d="M 21.71733,0 C 9.72533,0 0,9.724 0,21.72 c 0,9.596 6.22266,17.736 14.85333,20.608 1.08667,0.2 1.48267,-0.47067 1.48267,-1.04667 0,-0.516 -0.0187,-1.88133 -0.0293,-3.69333 -6.04133,1.312 -7.316,-2.912 -7.316,-2.912 -0.988,-2.50934 -2.412,-3.17734 -2.412,-3.17734 -1.972,-1.34666 0.14934,-1.32 0.14934,-1.32 2.18,0.15334 3.32666,2.23867 3.32666,2.23867 1.93734,3.31867 5.084,2.36 6.32134,1.804 0.19733,-1.40267 0.75866,-2.36 1.37866,-2.90267 -4.82266,-0.548 -9.89333,-2.412 -9.89333,-10.73466 0,-2.37067 0.84667,-4.31067 2.236,-5.828 -0.224,-0.54933 -0.96933,-2.75867 0.21333,-5.748 0,0 1.82267,-0.584 5.972,2.22667 1.732,-0.48267 3.59067,-0.72267 5.43733,-0.732 1.84534,0.009 3.70267,0.24933 5.43734,0.732 C 31.30403,8.424 33.12403,9.008 33.12403,9.008 c 1.18534,2.98933 0.44,5.19867 0.21734,5.748 1.392,1.51733 2.232,3.45733 2.232,5.828 0,8.344 -5.07867,10.18 -9.916,10.71733 0.77866,0.67067 1.47333,1.996 1.47333,4.02133 0,2.904 -0.0267,5.24667 -0.0267,5.95867 0,0.58133 0.392,1.25733 1.49334,1.04533 C 37.22134,39.448 43.43867,31.31333 43.43867,21.72 43.43867,9.724 33.71334,0 21.71734,0"/>
                    </g>
                </svg>
            </a>
            <a href="{{(portfolio.texts)?.social.stackoverflow}}" aria-label="Stackoverflow" matTooltip="Stackoverflow" target="_blank">
                <svg id="svg" width="43" height="43" viewBox="0, 0, 400,400">
                    <g id="svgg"><path id="path0" d="M305.469 2.238 C 299.112 3.201,296.877 5.317,296.882 10.364 C 296.889 18.501,321.539 160.080,323.244 161.786 C 324.882 163.424,351.333 159.289,355.434 156.754 C 358.211 155.038,341.488 44.596,332.764 7.031 C 331.088 -0.187,326.636 -0.968,305.469 2.238 M213.069 41.083 C 205.648 46.337,200.207 52.251,200.978 54.224 C 202.412 57.891,283.324 177.502,287.667 182.375 C 291.112 186.240,319.527 165.908,317.621 160.941 C 315.045 154.227,230.304 31.238,228.358 31.389 C 227.370 31.466,220.490 35.828,213.069 41.083 M139.102 118.688 C 127.536 137.010,127.075 136.492,185.061 170.313 C 214.529 187.500,245.264 205.459,253.360 210.221 L 268.080 218.879 276.482 204.543 C 287.815 185.205,290.326 187.717,216.503 144.531 C 140.733 100.206,149.022 102.974,139.102 118.688 M106.210 200.169 C 101.398 220.226,94.603 216.549,178.856 239.477 C 261.216 261.891,257.243 261.771,262.224 241.990 C 267.036 222.880,271.903 225.463,189.605 203.452 C 103.854 180.519,110.857 180.794,106.210 200.169 M50.000 325.000 L 50.000 400.000 175.000 400.000 L 300.000 400.000 300.000 325.000 L 300.000 250.000 287.500 250.000 L 275.000 250.000 275.000 312.500 L 275.000 375.000 175.000 375.000 L 75.000 375.000 75.000 312.500 L 75.000 250.000 62.500 250.000 L 50.000 250.000 50.000 325.000 M95.803 255.239 C 91.884 259.157,93.526 290.618,97.656 290.755 C 99.805 290.826,135.499 294.035,176.977 297.886 L 252.391 304.888 254.165 287.705 C 256.402 266.024,263.106 268.746,191.480 262.257 C 157.494 259.178,122.525 255.878,113.772 254.922 C 105.018 253.967,96.932 254.110,95.803 255.239 M90.625 332.813 L 90.625 350.000 171.875 350.000 L 253.125 350.000 253.125 332.813 L 253.125 315.625 171.875 315.625 L 90.625 315.625 90.625 332.813 " stroke="none" fill="#ffffff" fill-rule="evenodd">
                    </path></g>
                </svg>
            </a>
            <a href="{{(portfolio.texts)?.social.linkedin}}" aria-label="Linkedin" matTooltip="Linkedin" target="_blank">
                <svg x="0px" y="0px" width="43" height="43">
                    <path d="M 38.7,0 4.3,0 C 1.935,0 0,1.935 0,4.3 L 0,38.7 C 0,41.065 1.935,43 4.3,43 l 34.4,0 C 41.065,43 43,41.065 43,38.7 L 43,4.3 C 43,1.935 41.065,0 38.7,0 Z m -25.8,36.55 -6.45,0 0,-19.35 6.45,0 0,19.35 z M 9.675,13.545 c -2.15,0 -3.87,-1.72 -3.87,-3.87 0,-2.15 1.72,-3.87 3.87,-3.87 2.15,0 3.87,1.72 3.87,3.87 0,2.15 -1.72,3.87 -3.87,3.87 z m 26.875,23.005 -6.45,0 0,-11.395 c 0,-1.719916 -1.505,-3.225 -3.225,-3.225 -1.72,0 -3.225,1.505084 -3.225,3.225 l 0,11.395 -6.45,0 0,-19.35 6.45,0 0,2.58 c 1.075,-1.72 3.44,-3.01 5.375,-3.01 4.085,0 7.525,3.44 7.525,7.525 l 0,12.255 z" style="fill:#ffffff" />
                </svg>
            </a>
        </div>
    </div>
</div>

<app-separator [Inverted]="true" [backgroundColor]="themeService.DarkMode ? themeService.DarkModeBackground2: '#FFFFFF'"></app-separator>
<!-- <div class="divider1"> -->
<!--     <svg width="1600" height="111"> -->
<!--         <g> -->
<!--         <g transform="matrix(-1.25,0,0,-1.25,1600,111.25)"> -->
<!--         <path class="fill" d="M 0,0 C 0,0 144.27878,23.505371 300.75586,23.505371 457.23233,23.505371 439.95596,0 625.90582,0 811.85559,0 863.42517,23.505371 1026.9489,23.505371 1190.4723,23.505371 1280,0 1280,0 l 0,89 L 0,89 0,0 Z" style="fill:none;fill-opacity:1;fill-rule:nonzero;stroke:none"/> -->
<!--         </g> -->
<!--         </g> -->
<!--     </svg> -->
<!-- </div> -->
