<div class="flex flex-row education" *ngIf="type === 'education'">
  <div class="mr-5 hidden lg:block" >
    <div class="education-logo" [ngClass]="item.img" alt="education logo"></div>
  </div>

  <div>
    <div class="h3 title">
      {{ item.title }}
    </div>
    <div class="education-subtitle content">
      {{ item.subtitle }}
    </div>
    <div class="year content">
      {{ item.year }}
    </div>
  </div>

  <div class="conferences" *ngIf="type === 'conference'">
    <div class="h3 title">
      {{ item.year }}
    </div>
    <div *ngFor="let conference of item.list" class="conference">
      {{ conference }}
    </div>
  </div>

</div>

