@use '@angular/material' as mat;
@use 'sass:map';

// from project

@use 'src/app/styles/component-themes' as components;

@include mat.core(); // Mixin that renders all of the core styles that are not theme-dependent.

$indigo-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$indigo-palette, A400, A100, A700),
    background: mat.define-palette(mat.$indigo-palette),
    background-color: mat.define-palette(mat.$indigo-palette),
),
));

@include mat.core-theme($indigo-theme);
@include mat.all-component-themes($indigo-theme);
@include components.theme($indigo-theme);
