@use 'sass:map';
@use '@angular/material' as mat;

.title .line{
  margin-top: 8px;
  position: absolute;
}

@mixin theme($theme) {
  $color-config     : mat.get-color-config($theme);
  $primary          : map.get($color-config, 'primary');
  $accent           : map.get($color-config, 'accent');
  $background       : map.get($color-config, 'background');
  // $background-color: mat-color($background, card);

  .title{
    // @include mat-elevation(2);
    transition: color 1s ease;
    color: mat.get-color-from-palette($primary, 700);
    display: inline-block;
    text-align: left;
  }

  .styleishTitle {
    font-weight:100;
    font-size: 55px;
  }

}
