@use 'sass:map';
@use '@angular/material' as mat;

.mdc-list-item__primary-text {
  color: black ! important; /*Material Override*/
}

@mixin theme($theme) {

  $color-config     : mat.get-color-config($theme);
  $accent           : map.get($color-config, 'accent');
  $background       : map.get($color-config, 'background');
  $background-color : map.get($color-config, 'background-color');

  .lang-menu-wrapper {
    margin: 0.5em;
  }

  .lang-menu-dropdown {
    background-color: white;
  }

  .langmenu {
    // background: 0 0;
    border:none;
    cursor: pointer;
  }

  .lang-select-icon {
    width:35px;
    height:35px;
  }

  .lang-selection {
    position: relative;
    top: -8px;
  }

  .small-icons {
    width:30px;
  }

  .lang-button {
    padding-top:8px ! important;
  }

}

