@use 'sass:map';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $color-config     : mat.get-color-config($theme);
  $primary          : map.get($color-config, 'primary');
  $accent           : map.get($color-config, 'accent');
  $background       : map.get($color-config, 'background');

  .about{
    transition: background-color 1s ease;
    background-color: mat.get-color-from-palette($primary, 'darker-contrast');
    width: 100%;
    height: 100%;
    padding: 0% 10%;
    box-sizing: border-box;
  }

  .about p {
    line-height:35px;
  }

  .btn-download {
    padding: 2% 0% ! important;
    color: white;
    background-color: mat.get-color-from-palette($primary) ! important;
  }

  .profile-picture{
    box-sizing: border-box;
    width: 320px;
    height: 320px;
    max-width: 320px;

    .profile {
      border:3px solid mat.get-color-from-palette($primary)
    }
  }

  .about-title {
    margin-bottom:24px;
  }

  .download-dropdown-menu .mdc-list-item__primary-text { /*Material override*/
    display: flex;
    align-items: baseline;
  }

  .mat-mdc-menu-panel.mat-mdc-menu-panel { /*Material Override*/
    max-width: none ! important;
  }

  .download-dropdown-menu {
    background-color: white;
  }

  .download-dropdown-menu span {
    color: black ! important;
  }

  .introContent{
    box-sizing: border-box;
  }

  .introContent p:first-child{
    margin-top: 0;
  }
  .introContent p{
    margin: 16px 0;
    color: mat.get-color-from-palette($primary, 700);
    filter: grayscale(1);
  }

  .profile{
    transition: filter 0.25s ease;
    background-image: url('../../../assets/img/expertin-min.webp');
    background-position: -43px -674px;
    filter: grayscale(100%);
    border-radius:100%;
    background-repeat: no-repeat;
    width: 320px;
    height: 320px;
    max-width: 320px;
  }

  .profile:hover {
    filter: grayscale(0%);
  }
}

.menu-options {
  position: relative;
  top:8px;
}
