<div #about class="about"  >
  <div class="h2 about-title text-center lg:text-left" >
    <app-title title="{{(portfolio.texts)?.about.title}}" fontFamily="{{portfolio.texts?.font.title}}" [stylish]="true"[lineWidth]="250" ></app-title>
  </div>
  <div class="flex items-center flex-col lg:flex-row ">
    <div class="profile-picture ">
      <div class="profile"></div>
    </div>
    <div class="w-[5%] h-[5%]">&nbsp;</div>
    <div class="introContent w-[100%] lg:w-[55%]" >
      <p class="leading-7 text-lg text-center lg:text-left" *ngFor="let paragraph of (portfolio.texts)?.about.content" [innerHTML]="paragraph" ></p>
      <button matTooltip="{{ (portfolio.texts)?.about.button.tooltip }}" class="btn-download w-[100%] lg:w-[40%]" [style.font-family]="portfolio.texts?.font.menu" [matMenuTriggerFor]="menu">
        {{(portfolio.texts)?.about.button.title}}
        <img src="assets/img/download.webp" style="position: inherit;" [width]="30" [height]="22" alt="Download File" />
      </button>
      <mat-menu class="download-dropdown-menu" #menu >
        <a (click)="onPdfDownload()" href="assets/pdf/Resume.pdf" target="_blank">
          <button mat-menu-item><img class="menu-options" src="assets/img/pdf.webp" [width]="30" />&nbsp; <span>{{(portfolio.texts)?.about.pdf}}</span></button>
        </a>
        <a class="flex flex-row" (click)="onDocxDownload()" href="assets/doc/Resume.docx">
          <button mat-menu-item><img class="menu-options" src="assets/img/docx.webp" [width]="30" />&nbsp; <span> {{(portfolio.texts)?.about.word}} </span> </button>
        </a>
      </mat-menu>

    </div>
  </div>
</div>

