<app-separator
  [backgroundColor]="themeService.DarkMode ? themeService.DarkModeBackground1: '#eee'"
  [fillColor]="'#263038'">
</app-separator>

<div #contact class="contact colorWhite px-[5%] md:px-[10%] flex flex-col md:flex-row flex-[1_1_100%] md:flex-[1_1_90%] items-center text-center">
  <div class="left hidden lg:block">
    <svg class="envelope" width="764" height="408">
      <g>
        <g transform="translate(836.32206,-260.04078)">
          <g transform="matrix(-1.2499999,-5.5656684e-8,5.5656684e-8,-1.2499999,-577.57209,405.04438)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 142,0 c 2.20914,0 4.09476,0.78104854 5.65684,2.3431456 C 157.21893,3.9052427 157.99998,5.7908607 158,8 c -2e-5,2.209139 -0.78107,4.094757 -2.34316,5.656854 C 154.09476,15.21895 152.20914,15.999999 150,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
          </g>
          <g transform="matrix(1.25,0,0,1.25,-940.3488,-163.70922)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:evenodd;stroke:none" d="m 668.39258,651.89063 -402.48926,0 143.354,-143.42627 57.85498,44.27099 57.89551,-44.30224 143.38477,143.45752 z m 13.83203,-13.82422 0,-249.93848 -141.55078,108.31689 141.55078,141.62159 z M 252,638.13818 252,388.12793 393.59131,496.47607 252,638.13818 Z M 682.22461,363.52051 682.22461,339 252,339 l 0,24.52051 215.1123,164.92334 215.11231,-164.92334 z" />
          </g>
          <g transform="matrix(-1.2499999,-5.5656684e-8,5.5656684e-8,-1.2499999,-597.57209,405.04438)">
            <path style="fill:#263038;fill-opacity:1;fill-rule:nonzero;stroke:none"
              d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 142,0 c 2.20914,0 4.09476,0.78104854 5.65684,2.3431456 C 157.21893,3.9052427 157.99998,5.7908607 158,8 c -2e-5,2.209139 -0.78107,4.094757 -2.34316,5.656854 C 154.09476,15.21895 152.20914,15.999999 150,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
          </g>
          <g transform="matrix(-1.2499999,-5.5656684e-8,5.5656684e-8,-1.2499999,-638.82208,405.04438)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 142,0 c 2.20914,0 4.09476,0.78104854 5.65684,2.3431456 C 157.21893,3.9052427 157.99998,5.7908607 158,8 c -2e-5,2.209139 -0.78107,4.094757 -2.34316,5.656854 C 154.09476,15.21895 152.20914,15.999999 150,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
          </g>
          <g transform="matrix(-1.2499999,-5.5656684e-8,5.5656684e-8,-1.2499999,-581.32209,526.29438)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 109,0 c 2.20913,0 4.09474,0.78104854 5.65684,2.3431456 C 124.21893,3.9052427 124.99999,5.7908607 125,8 c -1e-5,2.209139 -0.78107,4.094757 -2.34316,5.656854 C 121.09474,15.21895 119.20913,15.999999 117,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
          </g>
          <g transform="matrix(-1.2499999,-5.5656684e-8,5.5656684e-8,-1.2499999,-640.65981,466.61068)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 7,0 c 2.209139,0 4.094757,0.78104854 5.656855,2.3431456 C 22.218952,3.9052427 23,5.7908607 23,8 23,10.209139 22.218952,12.094757 20.656855,13.656854 19.094757,15.21895 17.209139,15.999999 15,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
          </g>
          <g transform="matrix(-1.2499999,-5.5656684e-8,5.5656684e-8,-1.2499999,-706.32207,527.54438)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 22,0 c 2.209137,0 4.094753,0.78104854 5.656853,2.3431456 C 37.218948,3.9052427 37.999996,5.7908607 38,8 c -4e-6,2.209139 -0.781052,4.094757 -2.343147,5.656854 C 34.094753,15.21895 32.209137,15.999999 30,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
          </g>
          <g transform="matrix(-1.2499999,-5.5656684e-8,5.5656684e-8,-1.2499999,-656.32208,587.54078)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 89,0 c 2.209137,0 4.09476,0.78104854 5.65685,2.3431456 C 104.21895,3.9052427 104.99999,5.7908607 105,8 c -1e-5,2.209139 -0.78105,4.094757 -2.34315,5.656854 C 101.09476,15.21895 99.209137,15.999999 97,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
          </g>
          <g transform="matrix(-1.2499999,-5.5656684e-8,5.5656684e-8,-1.2499999,-632.57208,526.29438)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 31,0 c 2.209137,0 4.094753,0.78104854 5.656849,2.3431456 C 46.218948,3.9052427 46.999996,5.7908607 47,8 c -4e-6,2.209139 -0.781052,4.094757 -2.343151,5.656854 C 43.094753,15.21895 41.209137,15.999999 39,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
          </g>
          <g transform="matrix(-1.2499999,-5.5656684e-8,5.5656684e-8,-1.2499999,-627.57209,586.29438)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 3,0 c 2.209139,0 4.094756,0.78104854 5.656853,2.3431456 C 18.21895,3.9052427 18.999998,5.7908607 19,8 c -2e-6,2.209139 -0.78105,4.094757 -2.343147,5.656854 C 15.094756,15.21895 13.209139,15.999999 11,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
          </g>
          <g transform="matrix(0.99829435,-0.7522688,0.7522688,0.99829435,-107.26218,314.37848)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,3 C 0,1 1,0 3,0 L 5,0 C 7,0 8,1 8,3 8,5 7,6 5,6 L 3,6 C 1,6 0,5 0,3 Z" />
          </g>
          <g transform="matrix(4.2313269e-8,1.25,-1.25,4.2313269e-8,-72.249363,314.38168)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,3 C 0,1 1,0 3,0 l 45,0 c 2,0 3,1 3,3 0,2 -1,3 -3,3 L 3,6 C 1,6 0,5 0,3 Z" />
          </g>
          <g transform="matrix(0.99829442,-0.7522688,0.7522688,0.99829442,-178.44816,368.21338)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,3 C 0,1 1,0 3,0 l 62,0 c 2,0 3,1 3,3 0,2 -1,3 -3,3 L 3,6 C 1,6 0,5 0,3 Z" />
          </g>
          <g transform="matrix(1.25,0,0,1.25,-181.5988,660.04078)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,3 C 0,1 1,0 3,0 l 56,0 c 2,0 3,1 3,3 0,2 -1,3 -3,3 L 3,6 C 1,6 0,5 0,3 Z" />
          </g>
          <g transform="matrix(1.25,0,0,1.25,-290.3488,660.04078)">
            <path style="fill:#343e46;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,3 C 0,1 1,0 3,0 l 76,0 c 2,0 3,1 3,3 0,2 -1,3 -3,3 L 3,6 C 1,6 0,5 0,3 Z" />
          </g>
          <g transform="matrix(-1.2499999,-5.5656684e-8,5.5656684e-8,-1.2499999,-562.57209,586.29438)">
            <path style="fill:#263038;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 21,0 c 2.209137,0 4.094753,0.78104854 5.656849,2.3431456 C 36.218948,3.9052427 36.999996,5.7908607 37,8 c -4e-6,2.209139 -0.781052,4.094757 -2.343151,5.656854 C 33.094753,15.21895 31.209137,15.999999 29,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
          </g>
          <g transform="matrix(-1.2499999,-5.5656684e-8,5.5656684e-8,-1.2499999,-547.57209,466.29438)">
            <path style="fill:#263038;fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 0,8 C 0,5.7908607 0.78104854,3.9052427 2.3431456,2.3431456 3.9052427,0.78104854 5.7908607,0 8,0 l 21,0 c 2.209137,0 4.094753,0.78104854 5.656849,2.3431456 C 36.218948,3.9052427 36.999996,5.7908607 37,8 c -4e-6,2.209139 -0.781052,4.094757 -2.343151,5.656854 C 33.094753,15.21895 31.209137,15.999999 29,16 L 8,16 C 5.7908607,15.999999 3.9052427,15.21895 2.3431456,13.656854 0.78104854,12.094757 0,10.209139 0,8 Z" />
          </g>
        </g>
      </g>
    </svg>
  </div>

  <div class="right-contact-item flex-[1_1_60%]">
    <!-- <div class="right flex-[1_1_60%] md:flex-[1_1_100%]" [ngStyle.sm]="{'padding': '0 5%'}" [ngStyle.xs]="{'padding': '0 5%'}"> -->
    <div class="contactIntro text-xl md:text-2xl" [style.font-family]="portfolio.texts?.font.content">{{(portfolio.texts)?.contact.intro}}</div>

    <br/>

    <div class="contactIntro">
      <a class="contact-title link colorBlue text-xl md:text-2xl" [ngStyle]="{'text-decoration-line': 'none'}" href="mailto:{{(portfolio.texts)?.contact.mail}}?Subject=Hello" target="_top">
        <mat-card-title><img src="assets/img/mail.webp" alt="Mail" [width]=30 [height]=25 style="margin-right:10px; top:3px; position:relative;" /></mat-card-title>
        {{ (portfolio.texts)?.contact.mail }}
      </a>
      <br/>
      <br/>

      <mat-divider> </mat-divider>

      <br/>
      <mat-card-title></mat-card-title>
      <a class="phone" href="tel:{{(portfolio.texts)?.contact.phone}}">
        <img src="assets/img/phone.webp" alt="Phone" [width]=30 [height]=30 style="margin-right:10px;position:relative;" />
        {{(portfolio.texts)?.contact.phone}}
      </a>
    </div>
    <!-- <div class="inputs"> -->
    <!--   <form class="contact-form"> -->
    <!--     <div>{{(portfolio.texts)?.contact.input[0]}}</div> -->
    <!--     <mat-form-field class="input"> -->
    <!--       <input name="name" [(ngModel)]="message.name" matInput value=""> -->
    <!--     </mat-form-field> -->
    <!--     <div>{{(portfolio.texts)?.contact.input[1]}}</div> -->
    <!--     <mat-form-field class="input"> -->
    <!--       <input name="email" [(ngModel)]="message.email" matInput value=""> -->
    <!--     </mat-form-field> -->
    <!--     <div>{{(portfolio.texts)?.contact.input[2]}}</div> -->
    <!--     <mat-form-field class="input"> -->
    <!--       <textarea name="message" [(ngModel)]="message.message" matInput placeholder=""></textarea> -->
    <!--     </mat-form-field> -->

    <!--     <button (click)="send()" class="message" mat-raised-button [ngStyle.sm]="{'width': '100%'}" [ngStyle.xs]="{'width': '100%'}">{{(portfolio.texts)?.contact.button}}</button> -->
    <!--   </form> -->
    <!-- </div> -->
  </div>

  <div class="hidden lg:block flex-[1_1_25%]">
  </div>

</div>

<div class="horizontal-line">
  <div class="copyrights colorWhite text-sm lg:text-xl" [style.font-family]="portfolio.texts?.font.content">
    v{{ currentAppVersion }} <br>
      &copy; {{ Copyright }} <br>
    <br>
    <span class="text-sm hidden lg:block">no animals were harmed in the making of this portfolio</span>
  </div>
</div>
