<div class="mastery">
  <a *ngIf="item?.link; else no_link" [href]="item?.link" target="_blank">
    <div class="logoMastery" [ngClass]="item?.img" alt=""> </div>
    <div class="bold center masterySubtitle">{{ (item)?.title }}</div>
  </a>
  <ng-template #no_link>
    <div class="logoMastery" [ngClass]="item?.img" alt=""> </div>
    <div class="bold center masterySubtitle">{{ (item)?.title }}</div>
  </ng-template>
</div>
